/* .container {
    max-width: 1350px !important;
} */

.navabr_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
    position: relative;
    padding-top: 17px;
}
div#root {
    background: #0B0C0E;
}

.connect_btn button {
    background: #954A13;
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;
    border: none;
    padding: 8px 23px;
    border-radius: 10px;
}

.dollar_house_main_img_right {
    text-align: center;
}

img.mainimg {
    width: 470px;
    object-fit: cover;
}

.dollar_house_left {
    margin-top: 100px;
}

.dollar_house_left h2 {
    font-family: 'Plus Jakarta Sans';
    color: white;
    font-weight: 800;
    line-height: 53px;
    font-size: 43px;
}

.dollar_house_left h2 span {
    color: #954A13 !important;
}

.dollar_house_left p {
    color: #DDDDDD;
    max-width: 510px;
    font-family: 'Plus Jakarta Sans';
    margin-top: 17px;
}


.joinn_two_btn a {
    background: #232323FA;
    padding: 13px 26px;
    margin-right: 21px;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    color: white;
    border-radius: 10px;
}

.joinn_two_btn {
    width: 100%;
    display: inline-block;
    margin-top: 39px;
}

a.active_link {
    background: #954A13;
}

.dashbord_main {
    position: relative;
    z-index: 99999;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Send the video to the background */
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    z-index: 1; /* Bring the content to the front */
    /* ... other styles for your container */
}


.image-container {
    overflow: hidden;
    transition: all 1s ease; /* Optional: Add a smooth transition effect */
  }
  
  .mainimg {
    width: 100%;
    height: auto;
  }
  
  .image-container.zoomed {
    transform: scale(1.2); /* Adjust the scale factor for zoom level */
  }

  .section1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 1199px) {
    .dollar_house_left h2 {
        font-size: 41px;
    }

    .section1 {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 991px) {
    .section1 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    img.mainimg {
        width: 380px;
    }
    .dollar_house_left {
        margin-top: 10px;
        width: 100%;
        display: inline-block;
        margin-bottom: 110px;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 640px) {
    img.mainimg {
        width: 290px;
    }

    .dashbord_main {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 480px) {
    img.logo_navbar {
        width: 68px;
    }

    .connect_btn button {
        font-size: 14px;
        padding: 8px 10px;
    }

    .joinn_two_btn a {
        font-size: 12px;
    }

    img.mainimg {
        width: 213px;
    }
}